.section__about{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $super-silver;

  @include mQ($ipad){
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  img{
    margin: 1rem auto;
    display: block;
  }

  &__description{
    padding: 1rem;
    background: $white;
  }
}