.section__about{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  @include mQ($ipad){
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  img{
    margin: 1rem auto;
    display: block;
  }
}