.table-booking{
  @include flexColumn();
  align-items: center;

  .label{
    display: none;
  }

  &__title{
    margin: 4rem 0;
  }

  &__subtitle{
    font-size: 1.5rem;
    font-family: $decorative-font;
    color: $metallic-gold;
    margin: 0 0 2rem 0;
    font-weight: 400; 
  }

  &__input{
    border: 0;
    border-bottom: 2px solid $silver;
    padding: 0.5rem 0;
    display: block;
    margin: 1rem 0;
    width: 250px;
  }

  &__reminder {
    margin: 2rem 0;
  }
  &__image {
    display: none;
    @include mQ($desktopXs) {
      display: block;
    }
  }
}