.table-booking{
  display: flex;
  flex-direction: column;
  align-items: center;

  a, a:hover, a:visited{
    color: $cavernous;
    text-decoration: none;
  }

  .label{
    display: none;
  }

  &__title{
    margin: 4rem 0;
  }

  &__subtitle{
    font-size: 1.75rem;
    font-family: $decorative-font;
    color: $metallic-gold;
    margin: 2rem 0; 
  }

  &__input{
    border: 0;
    border-bottom: 2px solid $silver;
    padding: 0.5rem 0;
    display: block;
    margin: 1rem 0;
    width: 250px;
  }

  &__btn{
    display: block;
    border: 0;
    border-bottom: 2px solid $black;
    padding: 0.75rem 3rem;
    text-transform: uppercase;
    background: $metallic-gold;
    color: $black;
    margin: 2rem 0;
  }
  &__btn:hover{
    cursor: pointer;
  }
}