.btn{
  border: 0;
  border-bottom: 2px solid $metallic-gold;
  text-transform: uppercase;
  margin: 0 0.5rem 0 0;
  padding: 0.6rem 0.85rem;
  font-size: 0.9rem;
  cursor: pointer;

  @include mQ($desktopXs) {
    font-size: 1rem;
    padding: 0.85rem 1.5rem;
  }

  &--light{
    background-color: $super-silver;
    color: $nero;
  }

  &--dark{
    background-color: $nero;
    color: $white;
    a{
      color: $white;
    }
  }
}