.btn{
  border: 0;
  border-bottom: 2px solid $metallic-gold;
  text-transform: uppercase;
  margin: 0 0.5rem 0 0;
  padding: 0.6rem 0.85rem;
  font-size: 0.9rem;

  &--light{
    background-color: $super-silver;
  }

  &--dark{
    background-color: $nero;
    a{
      color: $white;
    }
  }
}