.row{
  display: flex;
  flex-wrap: wrap;
}

.col{
  @include flexColumn;
  flex: 1;
  
  &--center{
    @include flexColumn;
    align-items: center;
    justify-items: center;
    @include mQ($mobile){
      flex-basis: 100%;
      @include flexColumn
    }
  }
}