.input {
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom: 2px solid #cccccc;
  padding: 0.5rem 0;
  display: block;
  margin: 1rem 0;
  width: 250px;

  // &:invalid {
  //   outline: none;
  //   border-bottom: 2px solid $vampire;
  //   box-shadow: none;
  // }
}



.label {
  display: none;
}
