.modal-book {
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;

  &--active {
    display: block;
  }

  &--disabled {
    display: none;
  }

  &__content {
    @include flexColumn();
    width: 90%;
    padding: 1rem 1.5rem;
    background: $white;
    position: fixed;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;

    @include mQ($tablet) {
      padding: 2rem 2.5rem;
    }

    @include mQ($ipad) {
      width: 60%;
    }
    @include mQ($desktopXs) {
      width: auto;
    }
  }

  &__text {
    margin: 2rem 0;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}
