.show{
  z-index: 1;
  background: $nero;
  padding: 2rem;
}
.navbar-dark .navbar-toggler{
  border: 0;
}
.navbar-fixed-top.scrolled{
  background: $nero;
}

.navbar{
  &__brand{
    font-size: 1.5rem;
    margin: 0;
    font-family: $main-font;

    @include mQ($mobile){
      font-size: 1.35rem;
    }

    &--decorative{
      font-family: $decorative-font;
    }
  }
}
