.review-booking {
  margin: 5rem 0;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $cavernous;
  max-width: 600px;
  box-shadow: $default-shadow;

  &__title {
    margin: 4rem 0;
  }

  &__title,
  &__title:hover {
    color: $cavernous;
    text-decoration: none;
  }

  a,
  a:hover,
  a:visited {
    color: $cavernous;
    text-decoration: none;
  }

  &__address {
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  &__client {
    font-style: italic;
    font-size: 1.25rem;
    color: $gravel-fint;
    margin: 1.25rem 0;
  }
  &__name {
    margin-right: 0.25rem;
    color: $cavernous;
  }

  &__value {
    margin: 0;
    text-align: center;
  }

  &__description {
    text-align: center;
    color: $gravel-fint;
    text-transform: uppercase;
    font-size: 0.95rem;
    margin: 0 0 1rem 0;
    padding: 0 0 1rem 0;
    border-right: 1px solid $gravel-fint;
  }

  &__description:last-child {
    border: 0;
  }

  &__footer {
    margin-top: 2rem;
  }

  @include mQ($ipad) {
    align-items: center;
    margin: 2rem auto;
  }
}
