.section{
  padding: 3.5rem 5rem;
  @include mQ($mobile){
    padding: 2rem;
  }

  &__fluid{
    padding: 0 5rem;
  }

  &__description{
    max-width: 60%;
    text-align: justify;
    line-height: 1.7;
    margin: 2rem auto;

    @include mQ($ipad){
      max-width: 100%;
    }
  }

  &__image{
    margin: 0 auto;
    display: block;
  }
}