.section{

  padding: 3rem 1.5rem;

  &__fluid{
    padding: 0 5rem;
  }

  &__description{
    text-align: justify;
    line-height: 1.5;
    margin: 2rem auto;
    font-size: 0.9rem;

    @include mQ($mobile){
      font-size: 1rem;
    }
  }

  &__image{
    margin: 0 auto;
    display: block;
  }
}