.section{
  padding: 3rem 1.5rem 0 1.5rem;

  &__fluid{
    padding: 0 5rem;
  }

  &__description{
    text-align: justify;
    line-height: 1.5;
    margin: 2rem auto;
    font-size: 0.9rem;

    @include mQ($mobile){
      font-size: 1rem;
    }
  }

  &__image{
    margin: 0 auto;
    display: block;
  }

  &__col{
    flex: 100%;

    &--white{
      background-color: $white;
    }

    &__description{
      margin: 2rem 0 0 0;
      padding: 2rem 1rem 2rem 1rem;
    }
  }
}