.site-footer{
  background: $white;
  color: $nero;
  text-align: center;
  padding: 2rem 5rem;

  &__title{
    color: $metallic-gold;
    font-family: $decorative-font;
    padding: 1rem 0;
  }

  &__description{
    text-align: left;
  }
}