.site-footer{
  background: $white;
  color: $nero;

  @include mQ($mobile){
    padding: 2rem;
  }

  &__title{
    color: $nero;
    font-family: $decorative-font;
    font-weight: 400;
    margin: 0 0 1rem 0;
  }

  &__description{
    
  }
}