.section__testimonials{
  background: url('/images/brooke-lark-plate.jpg');
  background-position: center;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mQ($ipad){
    min-height: 500px;
    background-size: cover;
  }

  @include mQ($mobile){
    min-height: 400px;
    background: 0;
  }
  &__modal{
    background: rgba(0, 0, 0, 0.95);
    min-height: 100%;
    padding: 4rem 4rem;
    margin: 0 auto;
    min-width: 400px;
    max-width: 700px;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;
    @include mQ($ipad){
      min-width: auto;
      padding: 1rem 3.5rem;
    }
    @include mQ($mobile){
      padding: 1rem 0;
    }
  }
}
.testimonials__modal{
  &__heading{
    font-family: $decorative-font;
    text-align: center;
    margin-bottom: 2rem;
  }
  &__quote{
    font-style: italic;
    max-width: 70%;
    @include mQ($ipad){max-width: auto;}
  }

}
.quote-writer{
  color: $metallic-gold;
  font-style: normal;
  padding-top: 2.5rem;
  margin: 0 auto;
  text-align: center;
}