.heading {
  font-family: $decorative-font;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;

  @include mQ($mobile) {
    font-size: 1.75rem;
  }

  @include mQ($desktopXs) {
    font-size: 2.5rem;
  }

  &__review-booking {
    margin: 2rem 0;
  }

  @include mQ($ipad) {
    font-size: 2rem;
  }

  &--center {
    text-align: center;
  }

  &--large {
    font-size: 4rem;
    margin-bottom: 3rem;
    @include mQ($ipad) {
      font-size: 3.25rem;
      margin-bottom: 2rem;
    }

    @include mQ($mobile) {
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
  }

  &--gold {
    color: $metallic-gold;
  }
}

.text{
  max-width: 30rem;
}