@import '../../scss/mixins';
@import '../../scss/variables';

.button {
  padding: 0px;
  width: 1.5em;
  height: 1.1em;
  border: 0px none;
  display: flex;
  flex-direction: column;
  -moz-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;

  @include mQ($ipadPro) {
    display: none;
  }
}

.line {
  width: 20px;
  border-radius: 2px;
  display: flex;
  height: 0.2rem;
  background-color: $color-dark;
}