{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn",
    "linebreak-style": ["error", "unix"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "object-curly-newline": ["error", { "multiline": true }],
    "arrow-body-style": ["error", "as-needed"],
    "react/jsx-one-expression-per-line": "off",
    "import/prefer-default-export": "off",
    "react/destructuring-assignment": "off",
    "react/no-array-index-key": "off"
  }
}
