
# Created by https://www.gitignore.io/api/node,macos,windows,linux

# Dependency directories
node_modules
dist
build

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db
*.psd

# Folder config file
Desktop.ini
.env

# Windows shortcuts
*.lnk