
# Created by https://www.gitignore.io/api/node,macos,windows,linux

# Dependency directories
node_modules
dist
build
.env

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db
*.psd

# Folder config file
Desktop.ini
.env
.env.local

# Windows shortcuts
*.lnk

# Cypress local
cypress/videos
cypress.env.json

