@import '../../styles/mixins';
@import '../../styles/variables';

.item {
  @include mQ($ipadPro) {
    margin: 1rem 0 1rem 1rem;
  }
}

.link {
  text-transform: capitalize;
  &--active {
    font-family: $font-semi-bold;
  }
}