.section__about{
  padding: 4rem;
  
  &__description{
    max-width: 60%;
    padding-bottom: 2rem;
    text-align: justify;
    line-height: 1.7;

    @include mQ($ipad){
      max-width: 100%;
    }
  }

  img{
    padding-bottom: 1rem;
  }
}