.section__about{
  padding: 4rem;
  
  &__description{
    max-width: 60%;
    text-align: justify;
    line-height: 1.7;
    margin: 2rem auto;

    @include mQ($ipad){
      max-width: 100%;
    }
  }

  img{
    margin: 1rem auto;
    display: block;
  }
}