.admin {
  &__title {
    font-family: $font-secondary;
    color: $color-dark;
    font-weight: normal;
  }
  &__container {
    @include flexColumn();
    align-items: center;
  }
  &__header {
    padding: 0 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  &__form-container {
    width: 100%;
    margin: 1rem 0 0 0;
  }
}


.table {
  display: block;
  border-collapse: collapse;
  margin: 2rem 0;
  color: $color-dark;
  &__header {
    font-family: $font-semi-bold;
    border-bottom: 2px solid $color-dark-3;
  }
  &__heading {
    padding: 1rem 2rem;
    text-transform: uppercase;
  }
  &__row {
    text-align: left;
    &:nth-child(even) {
      background: $color-table;
    }
  }
  &__cell{
    padding: 2rem;

    &--center {
      text-align: center;
    }

    &__icon {
      width: 35px;
      height: 35px;
      cursor: pointer;
    }
  }
}