

.table {
  display: block;
  border-collapse: collapse;
  margin: 2rem 0;
  &__header {
    padding: 1rem 2rem;
  }
  &__row {
    border: 1px solid $silver-lake;
    text-align: left;
  }
  &__cell{
    padding: 2rem;

    &--guests {
      text-align: center;
    }
  }
}