.site-header{
  position: relative;
  background-image: url('../images/header.png');
  min-height: 700px;

  &__content{
    position: absolute;
    top: 100%;
	  left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
  }

  &__headline{
    font-size: 4rem;
    color: $white;
    font-weight: 400;
  }

  &__btn{
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    color: $white;
    background: $light-black;
    border: 0;
    border-bottom: 2px solid $black;
    font-size: 1rem;
    margin-right: 1rem;
  }

  &__btn:hover{
    cursor: pointer;
  }

  &__btn--reverse{
    color: $black;
    background: $light-white;
    border: 0;
    border-bottom: 2px solid $white;
  }
}