.input {
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom: 2px solid #cccccc;
  padding: 0.5rem 0;
  display: block;
  margin: 0;
  width: 100%;
}

.form {
  @include flexColumn;
  align-items: flex-start;

  &--edit {
    align-items: center;
    margin: 1rem 2rem;
    @include mQ($nexus) {
      margin: 0;
    }
  }
}

.label {
  display: flex;
  align-self: flex-start;
  color: 0.875rem;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
  display: block;
}
