.section__menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  @include mQ($ipad){
    padding: 2rem;
  }
  @include mQ($mobile){
    padding: 2rem 0;
  }
}

.menu-section{
  &__title{
    text-align: center;
    margin: 2rem 0;
    font-family: $decorative-font;
    color: $main-gold;
  }
  &__list{
    -webkit-padding-start: 0;
    padding: 2rem;
  }
}

.menu-section__item{
  padding: 1rem 0;
  h3{
    display: inline-flex;
    font-size: 1.5rem;
    margin: 1rem 1rem 1rem 0; 
    width: 70%;
    border-bottom: 1px solid $main-gold;
    @include mQ($ipad){
      margin: 0 1rem 0 0;
    }
  }
  span{
    font-size: 1.35rem;
    color: $main-gold;
    border-bottom: 1px solid $main-gold;
  }
  p{
    line-height: 2;
  }
}
