.site-footer {
  background: $color-white;
  color: $nero;
  padding: 1.5rem;

  @include mQ($mobile) {
    padding: 2rem;
  }

  @include mQ($tablet) {
    padding: 2.5rem;
  }

  &__column {
    @include flexColumn();
    flex: 100%;
    margin: 1rem 0;

    @include mQ($ipad) {
      flex: 1;
      text-align: center;
    }
  }

  &__title {
    color: $nero;
    font-family: $font-secondary;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;

    @include mQ($mobile) {
      font-size: 1.5rem;
    }

  }

  &__description {
    margin: 0.5rem 0;
  }
}
