.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  &.animate__animated animate__bounce {
    animation-duration: 0.25s;
  }
  &__logo {
    max-width: 100px;
    height: 50vh;
  }
}
