.section__testimonials {
  background: url('../assets/images/landing/ingredients-bg-xs.jpg');
  background-repeat: no-repeat;
  background-position: left;
  @include mQ($ipadPro) {
    background: url('../assets/images/landing/ingredients-bg.jpg');
    background-position: 20%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mQ($ipad) {
    min-height: 500px;
    background-size: cover;
  }
}

.testimonials {
  margin: auto;
  &__modal {
    padding: 1.5rem 0;
    background: $nero;
    color: $white;
    margin: auto;
    @include mQ($tablet) {
      max-width: 70%;
    }
    @include mQ($ipad) {
      max-width: 80%;
      margin: auto;
    }
    &__heading {
      font-family: $font-secondary;
      text-align: center;
      margin: 0 0 1rem 0;
      @include mQ($ipad) {
        margin: 0;
      }
    }
    &__quote {
      font-style: italic;
      margin: 0;
      padding: 1rem 1.5rem;
      @include mQ($tablet) {
        padding: 1rem 2.5rem;
      }
      @include mQ($ipad) {
        padding: 2rem 3rem;
      }
    }
  }
}

.quote-writer {
  color: $metallic-gold;
  font-style: normal;
  margin: 2rem auto 0 auto;
}
