.toast-container {
  background: $nero;
}

.toast {
  color: $lighthouse;
  background: $nero;
  font-size: 1.1rem;
  &__container{
    display: block;
  }
  &__progress {
    background: $metallic-gold;
  }
}