@import "../../styles/mixins";
@import "../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  color: $color-dark;

  @include mQ($desktopXs) {
    font-size: 1.5rem;
  }
}

.description {
  line-height: 1.5;
  text-align: left;

  @include mQ($ipad) {
    line-height: 1.7;
  }
}

.name {
  font-size: 1.5rem;
  font-family: $font-secondary;
  margin: 0.5rem 0;
  font-weight: 400;
}

.price {
  font-size: 1.35rem;
}

.item {
  margin: 1rem 0;

  @include mQ($mobile) {
    margin: 1rem 0;
  }

  @include mQ($tablet) {
    width: 90%;
  }

  @include mQ($desktopXs) {
    width: 80%;
  }
}
