.row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include mQ($ipad) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.col {
  @include flexColumn;
  flex: 1;

  &--center {
    @include flexColumn;
    align-items: center;
    justify-items: center;
    @include mQ($mobile) {
      flex-basis: 100%;
      @include flexColumn;
    }
  }
}
