.form {
  @include flexColumn;
  align-items: flex-start;

  &--edit {
    align-items: center;
    margin: 1rem 2rem;
    @include mQ($nexus) {
      margin: 0;
    }
  }

  &__description {
    margin: 0 0 2rem 0;
  }
}

.react-datepicker-wrapper, .react-datepicker__input-container {
  display: block;
  width: 100%;
}
