.login {
  justify-content: center;

  &__content {
    margin: 0 0 2rem 0;
  }

  &__desc {
    white-space: pre-wrap;
    line-height: 1.5;
    margin: 0.25rem 0;
  }

  &__form {
    margin: 2rem 0;
  }

  &__label {
    margin: 0.5rem 0;
  }

  &__error {
    color: $color-error;
  }

  &__btn {
    margin: 2rem 0;
  }
}
