@import "_variables";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $light-black;
  font-family: $main-font;
}

img{
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

button:focus{
  outline: none;
}
