$white: white;
$black: #000000;
$nero: #252525;
$super-silver: #eeeeee;
$dhusar-grey: #aaaaaa;
$metallic-gold: #d4af37;
$cavernous: #525252;
$silver-lake: #dedede;
$default-shadow: 1px 1px 3px $silver-lake;

//Media Queries vars
$ipad: 768px;
$mobile: 500px;
$medium: 1250px;

$main-font: 'Open Sans';
$decorative-font: 'Yeseva One';

// bootstrap customs
$navbar-dark-color: rgba($white, 0.9);
$navbar-font-size: 1rem;
$font-family-sans-serif: $main-font;

