$white: white;
$lynx-white: #f7f7f7;
$black: #000000;
$nero: #212121;
$super-silver: #eeeeee;
$dhusar-grey: #aaaaaa;
$metallic-gold: #d4af37;
$cavernous: #525252;
$silver-lake: #dedede;
$silver: #cccccc;
$gravel-fint: #bbbbbb;
$default-shadow: 1px 1px 3px $silver-lake;

//Media Queries vars
$tablet: 450px;
$ipad: 768px;
$nexus: 500px;
$mobile: 350px;
$medium: 1250px;

$main-font: 'Open Sans';
$decorative-font: 'Yeseva One';

